# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/
Gemfile.lock

# OS / editor
.DS_Store
Thumbs.db
*.swp
*~
.idea/
.vscode/
